.day-cell {
  margin: 0.3px;
  display: flex;
  flex-direction: column;
  text-align: left; }
  .day-cell.visible {
    background: rgba(255, 255, 255, 0.5);
    border: 0.2px solid rgba(0, 0, 0, 0.1);
    padding: 3px; }
  .day-cell.invisible {
    background: #f6f6f6; }
  .day-cell .cell-top {
    display: flex;
    justify-content: space-between; }
    .day-cell .cell-top .label {
      width: 10%;
      font-size: 12px;
      padding: 3px 2px;
      font-weight: 300;
      text-align: left; }
      .day-cell .cell-top .label .current {
        color: #282c34;
        padding: 2px 5px 3px 5px;
        margin: 4px 0;
        border-radius: 50%;
        font-weight: 400;
        font-size: 12px;
        background-color: #f2b3b3;
        flex: 1 0 auto; }
    .day-cell .cell-top .day-header-label {
      font-size: 14px; }
