@import "../../common/common.scss";

.month-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;

  .month-view {
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
    grid-template-rows: repeat(6, $cell-height);
  }

  .header {
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    .btn-prev,
    .btn-next {
      padding: 5px 10px 10px;
      border-radius: 50%;
      font-weight: 700;
      cursor: pointer;
    }

    .label {
      padding: 0 10px;
      margin: 6px 0;
      font-weight: 600;
    }
  }
}
